<footer id="footer" class="container-fluid text-center align-content-center footer pb-2">
    <div class="container pt-5">
      <div class="row text-start">
        
        <div class="col-md-4 col-sm-12">
          <h5>Navigation</h5>
          <ul>
                <li class="nav-item">
                  <a class="smooth-scroll" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="smooth-scroll" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                  <a class="smooth-scroll" href="#experiences">Experiences</a>
                </li>
              
                <li class="nav-item">
                  <a class="smooth-scroll" href="#education">Education</a>
                </li>
          </ul>
        </div>
        
        <div class="col-md-4 col-sm-12">
          <h5>Contact me:</h5>
          <ul>
                <li><a href=mailto:baraa.w.hajj@gmail.com target="_blank" rel="noopener">
                  <span><i class="fas fa-envelope"></i></span> <span>baraa.w.hajj@gmail.com</span>
                </a></li>
                <li><a href=https://github.com/baraa-elhajj target="_blank" rel="noopener">
                  <span><i class="fab fa-github"></i></span> <span>baraa-elhajj</span>
                </a></li>
                <li><a href=https://www.linkedin.com/in/baraa-elhajj target="_blank" rel="noopener">
                  <span><i class="fab fa-linkedin"></i></span> <span>Baraa El Hajj</span>
                </a></li>
                <li><span><i class="fas fa-phone-alt"></i></span> <span>&#43;96179319246</span></li>
          </ul>
        </div>     
      </div>
    </div>
    
    <hr />
    <div class="text-center">© 2024 Copyright. All rights reserved.</div>    
  </footer>